:local(.loginForm) {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid rgba(51, 51, 51, 0.15);
  background: #fff;
  border-radius: 5px;
}

:local(.loginForm) textarea {
  width: 100%;
  font-size: 1.4rem;
}

:local(.loginForm) button {
  background: #333;
  border: 0;
  line-height: 30px;
  font-size: 20px;
  color: #f7f7f7;
  padding: 0 10px;
  font-weight: 500;
  cursor: pointer;
}

:local(.loginForm) input {
  background: none;
  border: 0;
  border-bottom: 1px solid blue;
  line-height: 30px;
  font-size: 20px;
  margin-right: 5px;
}

:local(.loginForm) input:focus {
  outline: 0;
  outline-offset: 0;
}

:local(.linkOptions) li {
  list-style: none;
  display: inline-block;
  width: 50%;
}

:local(.linkOptions1) a {
  color: #f7f7f7;
}

:local(.linkOptions1) {
  display: block;
  width: 100%;
  text-align: center;
  background: #333;
  padding: 5px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #333;
  color: #f7f7f7;
}

:local(.linkOptions2) {
  display: block;
  width: 100%;
  text-align: center;
  background: #333;
  padding: 5px;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #333;
  color: #f7f7f7;
}

:local(.successMessage) {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: 1px solid #d6e9c6;
  border-radius: 5px;
  font-weight: bold;
  padding-left: 10px;
}

:local(.errorMessage) {
  color: #a94442;
  background-color: #f2dede;
  border-color: 1px solid #ebccd1;
  border-radius: 5px;
  font-weight: bold;
  padding-left: 10px;
}
